*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2vh;
    background-image: url("../images/restauranteComputador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2{
    align-items: center;
    text-align: center;
    color:white;
    font-style:oblique;
    font-weight: 900;
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 20px;
    padding: 20px;
    

}
.wrap-cards{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;}
    
@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .card-img-top{
        height: 300px;
        width: auto;
    }

}
