*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
}
h1, h2{
    align-items: center;
    text-align: center;
}
.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;}
    
@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .card-img-top{
        height: 300px;
        width: auto;
    }

}
