*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2vh;
    font-family: "Poppins", sans-serif;
    background-image: url("../images/fundo_mobile.avif");
    background-repeat: no-repeat;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2{
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
    border-radius: 20px;
}
.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;}
    
@media (width >= 800px){
    body{
        background-image: url("../images/restauranteComputador.jpg");
    } 
    .wrap-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .card-img-top{
        height: 300px;
        width: auto;
        transform: scale(1.0);
    }

}
